.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    background-color: #d2d7ee;
    position: relative;
}



.carousel {
    display: flex;
    background-position: center top;
    justify-content: center;
    width: 1200px;
    height: 100%;

    border-radius: 10px;
    position: absolute;
    top: -50px;
}


.carousel img {
    width: 240px;
    height: 150px;
    padding-right: 2px;
    border-radius: 10px;
    object-fit: cover;
}




.gradient {
    display: block;
    background: linear-gradient(360deg, transparent, #e0dddd);
    top: 0;
    height: 16%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

@media (max-width:1200px) {
    .carousel {
        width: 85%;
    }
}



@media (max-width:920px) {
    .carousel img {
        width: 220px;
    }
}


@media (max-width:800px) {
    .carousel {
        width: 100%;
    }

    .divTitle h2 {
        font-size: 40px;
    }
}

@media (max-width:730px) {
    .carousel {
        width: 100%;

        align-items: center;
        text-align: center;
    }

    .divTitle h2 {
        font-size: 40px;
    }
}