.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    height: 900px;
    background-image: url('/make.jpg');
    background-size: cover;
    background-repeat: no-repeat;


}

.divTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 800px;
    width: 500px;
}

.divTitle span {
    font-weight: 400;
    font-size: 40px;

}

.divTitle h3 {
    font-size: 55px;
    font-weight: 400;
    color: #a06c0c;
    letter-spacing: 2px;
}

.divTitle p {
    font-size: 25px;
    font-weight: 600;
    z-index: 3;
    letter-spacing: 2px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    background-color: rgb(196, 195, 195);
    border-radius: 10px;
    opacity: 0.9;

}

.animatedheader {
    font-size: 3rem;
    font-family: Arial, sans-serif;
}

.animatedheader span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px);
    animation: dropIn 8s forwards infinite;
}

/* Animação */
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* Atraso incremental */
.animatedheader span:nth-child(1) {
    animation-delay: 0s;
}

.animatedheader span:nth-child(2) {
    animation-delay: 0.2s;
}

.animatedheader span:nth-child(3) {
    animation-delay: 0.4s;
}

.animatedheader span:nth-child(4) {
    animation-delay: 0.6s;
}


.divImg {
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.divImg img {
    border-radius: 10px;
}



@media (max-width:950px) {

    .section {
        flex-direction: column;
        height: 1200px;
        justify-content: center;

    }

    .divTitle {
        justify-content: space-around;
        height: 700px;
        width: 400px;
    }

    .divTitle p {
        font-size: 20px;

    }

    .divImg {
        width: 400px;
    }
}

@media (max-width:440px) {
    .section {
        justify-content: space-between;
        height: 1300px;

    }

    .divTitle {
        justify-content: flex-start;
        height: 500px;
        width: 300px;

    }

    .divTitle h3 {
        font-size: 40px;
    }

    .divImg {
        width: 300px;
    }

}

@media (max-width:340px) {
    .section {

        justify-content: space-between;
    }

    .divTitle {
        max-width: 95%;




    }

    .divTitle p {
        font-size: 19px;
    }

    .divImg {
        width: 95%;
    }
}

@media (max-width:280px) {
    .divTitle p {
        font-size: 17px;
    }

}