.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 700px;
    background-image: url('/publicity.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
}

.divTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400PX;
    width: 550px;
}

.divTitle .h1 {
    font-size: 50px;
    color: #bc8c65;
    font-weight: 600;

}

.divTitle h2 {
    font-size: 40px;
    font-weight: 300;
}


.gradient {
    display: block;
    background: linear-gradient(360deg, transparent, #bc8c65);
    bottom: 160px;
    height: 10%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;

}

@media (max-width:950px) {

    .section {
        flex-direction: column;
    }



}

@media (max-width:580px) {


    .divTitle {
        max-width: 400px;
    }

}

@media (max-width:430px) {

    .divTitle {
        width: 290px;
    }

    .divTitle .h1 {
        font-size: 45px;
    }

    .gradient {
        bottom: -10px;
    }


}

@media (max-width:393px) {


    .divTitle {
        width: 100%;
        padding: 0 10px;
    }

    .divTitle .h1 {
        font-size: 30px;
    }

    .divTitle h2 {
        font-size: 30px;
    }

    .gradient {
        bottom: -60px;
    }


}