.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 1000px;
    background-image: url('/make.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}

.divTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 700px;
    width: 400px;
}

.divTitle span {
    font-weight: 400;

}

.divTitle h3 {
    font-size: 50px;
    font-weight: 500;
    color: #a06c0c;
}

.divTitle p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(190, 39, 115);
}

.animatedheader {
    font-size: 3rem;
    font-family: Arial, sans-serif;
}

.animatedheader span {
    display: inline-block;
    opacity: 0;
    transform: translateY(-100px);
    animation: dropIn 8s forwards infinite;
}

/* Animação */
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* Atraso incremental */
.animatedheader span:nth-child(1) {
    animation-delay: 0s;
}

.animatedheader span:nth-child(2) {
    animation-delay: 0.2s;
}

.animatedheader span:nth-child(3) {
    animation-delay: 0.4s;
}

.animatedheader span:nth-child(4) {
    animation-delay: 0.6s;
}


.divImg {
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}

.divImg img {
    border-radius: 10px;
}



@media (max-width:950px) {

    .section {
        flex-direction: column;

    }

    .divTitle p {
        font-size: 20px;

    }

    .divImg {
        width: 400px;
    }
}

@media (max-width:440px) {

    .divTitle {
        justify-content: flex-start;
        width: 300px;

    }

    .divTitle h3 {
        font-size: 40px;
    }

    .divImg {
        width: 300px;
    }

}

@media (max-width:340px) {

    .divTitle {
        max-width: 95%;
    }

    .divTitle p {
        font-size: 18px;
    }

    .divImg {
        max-width: 95%;

    }
}