.section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 700px;
    position: relative;
    background-color: #ffff;

}

.divTitle {
    display: flex;
    justify-content: center;
    width: 100%;



}

.divTitle h2 {
    color: #a06c0c;
    font-size: 45px;
    font-weight: 500;
    z-index: 3;
}

.carousel {
    display: flex;
    background-position: center top;
    height: 400px;
    width: 1300px;

    border-radius: 10px;
}

.carousel img {
    width: 250px;
    height: 350px;
    padding-right: 2px;
    border-radius: 10px;
    object-fit: cover;
}


.gradient {
    display: block;
    background: linear-gradient(180deg, transparent, #dddad4);
    bottom: 0;
    height: 20%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.gradient1 {
    display: block;
    background: linear-gradient(360deg, transparent, #dfc0a7);
    top: 0;
    height: 30%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.carousel span {
    height: 7px;
    width: 7px;
    border: solid 2px #fff;
    background-color: #000000;
    position: relative;
    bottom: 150px;
    z-index: 0;
}


@media (max-width:1330px) {

    .carousel {
        width: 80%;
        align-items: center;
    }
}

@media (max-width:520px) {


    .carousel {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}


@media (max-width:440px) {
    .carousel {
        max-width: 100%;
    }

    .divTitle h2 {
        font-size: 40px;
    }
}

@media (max-width:396px) {


    .divTitle h2 {
        font-size: 35px;
    }
}