.footer {
    height: 100px;
}

.ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    list-style: none;
}

.ul li a {
    padding: 14px 16px;
    font-size: 50px;
}